<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <!-- Почта для кода регистрации. Пока RegistrationSmtpHost пустой — письмо не шлётся, код показывается в окне. -->
    <!-- Пример Gmail: host smtp.gmail.com, port 587, Ssl true, User = ваш@gmail.com, Password = пароль приложения (не обычный пароль). MailFrom = ваш@gmail.com -->
    <!-- Пример Mail.ru: host smtp.mail.ru, port 587, Ssl true. Yandex: smtp.yandex.ru, 587. -->
    <!-- Было stmp — должно быть smtp, иначе подключение «висит» до таймаута -->
    <add key="RegistrationSmtpHost" value="smtp.mail.ru" />
    <add key="RegistrationSmtpTimeoutMs" value="25000" />
    <add key="RegistrationSmtpPort" value="587" />
    <add key="RegistrationSmtpSsl" value="true" />
    <add key="RegistrationSmtpUser" value="ivanesscob.mcbackups@mail.ru" />
    <add key="RegistrationSmtpPassword" value="peZTD1zWfO9qRfaj9tnz" />
    <add key="RegistrationMailFrom" value="ivanesscob.mcbackups@mail.ru" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="DriveCareDBEntities" connectionString="metadata=res://*/Data.BD.Model1.csdl|res://*/Data.BD.Model1.ssdl|res://*/Data.BD.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ivanessco.servebeer.com;initial catalog=DriveCareDB;persist security info=True;user id=sa;password=e8icQ2ybV6;encrypt=False;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
