<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <!-- Почта для кода регистрации. Пока RegistrationSmtpHost пустой — письмо не шлётся, код показывается в окне. -->
    <!-- Пример Gmail: host smtp.gmail.com, port 587, Ssl true, User = ваш@gmail.com, Password = пароль приложения (не обычный пароль). MailFrom = ваш@gmail.com -->
    <!-- Пример Mail.ru: host smtp.mail.ru, port 587, Ssl true. Yandex: smtp.yandex.ru, 587. -->
    <!-- Было stmp — должно быть smtp, иначе подключение «висит» до таймаута -->
    <add key="RegistrationSmtpHost" value="smtp.mail.ru" />
    <add key="RegistrationSmtpTimeoutMs" value="25000" />
    <add key="RegistrationSmtpPort" value="587" />
    <add key="RegistrationSmtpSsl" value="true" />
    <add key="RegistrationSmtpUser" value="ivanesscob.mcbackups@mail.ru" />
    <add key="RegistrationSmtpPassword" value="peZTD1zWfO9qRfaj9tnz" />
    <add key="RegistrationMailFrom" value="ivanesscob.mcbackups@mail.ru" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="DriveCareDBEntities" connectionString="metadata=res://*/Data.BD.Model1.csdl|res://*/Data.BD.Model1.ssdl|res://*/Data.BD.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=5.35.86.99;initial catalog=DriveCareDB;persist security info=True;user id=sa;password=Ibedug47!;encrypt=False;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DriveCareDBEntities1" connectionString="metadata=res://*/Data.BD.Model1.csdl|res://*/Data.BD.Model1.ssdl|res://*/Data.BD.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=5.35.86.99;initial catalog=DriveCareDB;persist security info=True;user id=sa;password=Ibedug47!;encrypt=False;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DriveCareDBEntities3" connectionString="metadata=res://*/Data.BD.Model1.csdl|res://*/Data.BD.Model1.ssdl|res://*/Data.BD.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=5.35.86.99;initial catalog=DriveCareDB;persist security info=True;user id=sa;password=Ibedug47!;multipleactiveresultsets=True;encrypt=False;trustservercertificate=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.7" newVersion="10.0.0.7" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.7" newVersion="10.0.0.7" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SkiaSharp" publicKeyToken="0738eb9f132ed756" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.119.0.0" newVersion="3.119.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.3.0" newVersion="6.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
